body {
    color: #2c3e50;
}

a {
    color: #2c3e50 !important;
}

/** Navbar **/
.navbar-inner {
    max-width: 1024px;
}

/** Container **/
.container {
    margin-top: 72px;
}

.main-container {
    max-width: 1024px;
}

/** About **/
.about {
    padding-top: 100px !important;
}

.avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 2px solid #e2e2e2;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.h-border {
    height: 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e2e2e2;
}

.summary,
.blogs {
    a {
        color: #1e90ff !important;
    }
}

.skills,
.blogs
{
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
    padding-top: 70px;
}

.footer {
    p {
        margin: 0;
    }
}